<!DOCTYPE html>
<html>
    <head>
        <title>Add Brand</title>
        <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
        <link rel="stylesheet" href="dist/css/adminlte.min.css">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
        <link rel="stylesheet" href="bootstrap/mycss/adminlogin.css">
        <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body>
        <div class="wrapper">
            <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                         <a class="nav-link" data-widget="pushmenu" href="/homepage" role="button"> 
                             <i class="fas fa-bars"></i></a>
                        </li>
                        <li class="nav-item d-none d-sm-inline-block">
                          <a href="/homepage" class="nav-link">Home</a>
                        </li>
                    </ul>
                </nav>
                <aside class="main-sidebar sidebar-dark-primary elevation-4">
                        <a href="/homepage" class="brand-link">
                          <img src="img/grocery.png"
                               alt="online_grocery logo"
                               class="brand-image img-circle elevation-3">
                          <span class="brand-text font-weight-light">Online Grocery</span>
                        </a>
                        <nav class="mt-2">
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link">
                                      <i class="nav-icon far fa-circle circle-icon"></i>
                                      <p style="color:lightskyblue">
                                         Add Data
                                        <i class="right fas fa-angle-left"></i>
                                      </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                      <li class="nav-item">
                                        <a href="/addcategory" class="nav-link">
                                          <i class="far fa-circle nav-icon circle-icon-child"></i>
                                          <p class="text" style="color:lightblue">Add category</p>
                                        </a>
                                      </li>
                                      <li class="nav-item">
                                        <a href="/addbrand" class="nav-link">
                                          <i class="far fa-circle nav-icon circle-icon-child"></i>
                                          <p class="text" style="color:lightblue">Add Brands</p>
                                        </a>
                                      </li>
                                    </ul>
                                  </li>
                              <li class="nav-item">
                                <a href="/salesdetails" class="nav-link">
                                  <i class="nav-icon far fa-circle  circle-icon"></i>
                                  <p class="text" style="color:lightskyblue">Sales Details</p>
                                </a>
                              </li>
                          </ul>
                        </nav>
                </aside> 
                <div class="content-wrapper">
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-12">
                                    <center>
                                        <h4>Add New Brand</h4>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="content">
                        <div class="row">
                        <form name="addbrand" action='/insertbrand' method="POST" style="padding:20px;border:1px solid black;background-color:white">
                            <div class="form-group">
                                <lable for="brand_id">Brand Id</lable>
                                <input type="text" class="form-control" name="brand_id" placeholder="Enter Brand Id"> 
                            </div>
                            <div class="form-group">
                            <lable for="Product_id">Product Id</lable>
                            <input type="text" class="form-control" name="Product_id" placeholder="Enter Product Id"> 
                        </div>
                        <div class="form-group">
                            <lable for="brand">Brand</lable>
                            <input type="text" class="form-control" name="brand" placeholder="Enter Brand"> 
                        </div>
                        <div class="form-group">
                            <lable for="name">Name</lable>
                            <input type="text" class="form-control" name="name" placeholder="Enter Name"> 
                        </div>
                        <div class="form-group">
                            <lable for="quantity">Quantity</lable>
                            <input type="text" class="form-control" name="quantity" placeholder="Enter Quantity"> 
                        </div>
                        <div class="form-group">
                            <lable for="stock">Stock</lable>
                            <input type="text" class="form-control" name="stock" placeholder="Enter Stock"> 
                        </div>
                        <div class="form-group">
                            <lable for="price">Price</lable>
                            <input type="text" class="form-control" name="price" placeholder="Enter Price"> 
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Add Details</button>
                            <br>
                            <br>
                            <button type="reset">Cancel</button>
                        </div>
                        </form>
                    </div>
                    </section>
                </div>
                <script src="plugins/jquery/jquery.min.js"></script>
                <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
                <script src="dist/js/adminlte.min.js"></script>
                <script src="dist/js/demo.js"></script>
            </body>
</html>